In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/project_data/data_asset/Libro1.csv')

In [3]:
df.head()

   Encabezado 1  Encabezado 2  Encabezado 3
0             1             1             1
1             2             2             2
2             3             3             3
3             4             4             4
4             5             5             5